/*CSS DOCUMENT*/

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;	padding: 0;	border: 0;	vertical-align: baseline;} /*My edited version of the Eric Meyer’s reset tool. Feel free to keep it or delete it. */

img {src=lasagna.jpg;
    width: 100%; /*Please leave this line.*/
}

/*By the way, when we use the slash-asterisk combo, it’s a comment on the CSS and it’s meant for human beings. The machine knows it is not supposed to process anything until it finds a asterisk-slash combo that ends the comment on the CSS. */

img{
    max-width: 36em;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-color:#282019
}

div.container{
    max-width: 50em;
    margin: auto;
}

main{
    display: grid;
    grid-template-columns: 50% 50%
}

h1{
    font-family:ITC Cheltenham;
    font-size:2em;
    font-weight:300;
    text-transform: uppercase;
    text-align: left;
    letter-spacing:.15em;
    line-height: normal;
    margin-left: 1em;
    color:#DF8537;
}

h2{
    grid-column: 1/2;
    font-family: Verdana;
    font-size:1em;
    font-weight:100;
    text-align: left;
    line-height: 2.5em;
    margin-left: 2em;
    padding-bottom: .5em;
    color: #E2C3A4;
}

h3{
    font-family:ITC Cheltenham;
    font-size:1em;
    font-weight:500;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: .15em;
    line-height: 3em;
    margin-left: 2em;
    padding-top: .5em;
    color: #DF8537;
}

h6{
    font-family: Verdana;
    font-size:.8em;
    font-weight:100;
    text-align: left;
    line-height: 3em;
    margin-left: 2.2em;
    color: #DF8537;
}

ul{
    font-family: Verdana;
    font-size: .9em;
    font-weight:200;
    text-align: left;   
    line-height: 2em;
    margin-left: 3.2em;
    color: #E2C3A4;
}

ol{
    font-family: Verdana;
    font-size:.9em;
    font-weight:200;
    text-align: left;
    line-height: 1.75em;
    margin-left: 3em;
    color: #E2C3A4; 
}

figure{
    display: grid;
    grid-template-columns: 70% 30%;
    font-family: Verdana;
    font-size:.89em;
    font-weight:200;
    text-align: left; 
    line-height: 1.5em;
    margin-left: 1em;
    color: #E2C3A4;
}
